EXPO_PUBLIC_API_URL=https://api.myriderguy.com/api/v1
EXPO_PUBLIC_SOCKET_URL=https://api.myriderguy.com
GOOGLE_SERVICES_JSON=./android/app/google-services.json
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=replace-with-client-project-web-oauth-client.apps.googleusercontent.com
