# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle
*.bundle
app/src/main/res/drawable-*/__node_modules_*
app/src/main/res/drawable-*/assets_*
app/src/main/res/raw/node_modules_*
